<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="Microsoft.Web.Infrastructure, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <customErrors mode="RemoteOnly" defaultRedirect="CustomError.aspx" />
    <!--Prevents Attacks using Multbytes Method-->
    <globalization requestEncoding="ISO-8859-1" responseEncoding="ISO-8859-1" />
    <authentication mode="Forms">
      <forms loginUrl="Account/Login.aspx" defaultUrl="Default.aspx" timeout="2880" />
    </authentication>
    <authorization>
      <deny users="?" />
      <allow roles="Admin,manager,charroi" />
    </authorization>
    
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <location path="Styles">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="EditBusRoute.aspx">
    <system.web>
      <authorization>
        <deny roles="level3" />
        <allow roles="Admin,Manager,charroi,restricted" />
      </authorization>
    </system.web>
  </location>
  <location path="NewBusRoute.aspx">
    <system.web>
      <authorization>
        <deny roles="level3" />
        <allow roles="Admin,charroi,restricted" />
      </authorization>
    </system.web>
  </location>
  <location path="Configuration.aspx">
    <system.web>
      <authorization>
        <deny roles="Manager,charroi,level3,restricted" />
        <allow roles="Admin" />
      </authorization>
    </system.web>
  </location>
  <location path="Reports">
    <system.web>
      <authorization>
        <deny roles="level3,charroi,restricted" />
        <allow roles="Admin,Manager" />
      </authorization>
    </system.web>
  </location>
  <location path="Services.aspx">
    <system.web>
      <authorization>
        <deny roles="level3,charroi,restricted" />
        <allow roles="Admin,Manager" />
      </authorization>
    </system.web>
  </location>
  <location path="CustomError.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="volcano">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="enc.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="kbs">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="impala">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <!--THis section will restrict the restricted role from other pages-->
  <!--<location path="POSBooking.aspx">
    <system.web>
      <authorization>
        <deny roles="restricted"/>
        <allow roles="Admin,Manager,charroi,level3"/>
      </authorization>
    </system.web>
  </location>
  <location path="POSList.aspx">
    <system.web>
      <authorization>
        <deny roles="restricted"/>
        <allow roles="Admin,Manager,charroi,level3"/>
      </authorization>
    </system.web>
  </location>-->
  <!--<location path="POSPromotions.aspx">
    <system.web>
      <authorization>
        <deny roles="restricted"/>
        <allow roles="Admin,Manager,charroi,level3"/>
      </authorization>
    </system.web>
  </location>
  <location path="POSSubscription.aspx">
    <system.web>
      <authorization>
        <deny roles="restricted"/>
        <allow roles="Admin,Manager,charroi,level3"/>
      </authorization>
    </system.web>
  </location>-->
  <location path="POSTicketing.aspx">
    <system.web>
      <authorization>
        <deny roles="restricted" />
        <allow roles="Admin,Manager,charroi,level3" />
      </authorization>
    </system.web>
  </location>
  <location path="POSTicketingList.aspx">
    <system.web>
      <authorization>
        <deny roles="restricted" />
        <allow roles="Admin,Manager,charroi,level3" />
      </authorization>
    </system.web>
  </location>
  <location path="traffic.aspx">
    <system.web>
      <authorization>
        <deny roles="restricted" />
        <allow roles="Admin,Manager,charroi,level3" />
      </authorization>
    </system.web>
  </location>
  <location path="TrafficDetails.aspx">
    <system.web>
      <authorization>
        <deny roles="restricted" />
        <allow roles="Admin,Manager,charroi,level3" />
      </authorization>
    </system.web>
  </location>
  <location path="Activity.aspx">
    <system.web>
      <authorization>
        <deny roles="restricted" />
        <allow roles="Admin,Manager,charroi,level3" />
      </authorization>
    </system.web>
  </location>
  <!--End the Restriction-->
  <appSettings>
    <!--<add key="SQLServer" value="VM0Cs9gTdrt4towodXfjX2+2FgM0HG/D=="/>
    <add key="SQLPass" value=" 7g/EHgMEEcg="/>
    <add key="SecurityDB" value="lFiya1phPhE="/>
    <add key="SQLUser" value="KgVxNy1/kQU="/>-->
    <add key="SQLServer" value=" fWGG982itKbJTtxtz7eTNv8VKqEaKmz0rML5xpvdAe8=" />
    <add key="SQLPass" value="7g/EHgMEEcg=" />
    <add key="SecurityDB" value="ZRZE1twLE1A=" />
    <add key="SQLUser" value="KgVxNy1/kQU=" />
  </appSettings>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
  <connectionStrings>
    <add name="AppDBContext" connectionString="Data Source=GIFT\SQLEXPRESS;Initial Catalog=Stella;user id=sa;password=jesus;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
